.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source

build/
repo/
flatpak/
flatpak-build/
.flatpak-builder/

assets/locale/
