[Desktop Entry]
Name=Clapgrep
Exec=clapgrep %F
Terminal=false
Type=Application
StartupNotify=true
Icon=de.leopoldluley.Clapgrep
Categories=COSMIC;
Keywords=
MimeType=
