[Desktop Entry]
Name=Clapgrep
Comment=One app to search through all your files
Exec=clapgrep %u
Terminal=false
Type=Application
StartupNotify=true
Icon=de.leopoldluley.Clapgrep
Categories=Utility;FileTools;
Keywords=grep;ripgrep;search;pdf;
MimeType=inode/directory;
